<!DOCTYPE html>
<html lang="ru">
    <head>
<script type="text/javascript" id="realpush" data-sid="3344" data-site="mlhdrakvpq" src="https://admessage.support/system_domain_robot.js"></script>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>[TITLE]</title>
        <!-- Bootstrap core CSS -->
        <link href="/template/bootstrap/css/bootstrap.css?n=[RAND]" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/template/style.css?n=[RAND]" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js?n=[RAND]"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js?n=[RAND]"></script>
    <![endif]-->
        <script src="/script.js?n=[RAND]" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/template/style.css?n=[RAND]">
        [META]
        <meta name="google-site-verification" content="4PJFG4QMshnlOeR7mk8rzg0RVhEeNPaWJy3sZtNFV1Y" />
        <meta name="yandex-verification" content="b4d0bf603e17dd98" />
<meta name="msvalidate.01" content="1C5FDBC222D10527558B7FA93B43AB6D" />
    </head>
    <body>

        <div class="container">
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>                     
                    <a class="navbar-brand header-title" href="/">[SITENAME]</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!--<li>
                            <a href="/"><span class="glyphicon glyphicon-home"></span> Главная</a>
                        </li>-->
                        <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li>-->
      <li>
                            <a href="#"><span class="glyphicon glyphicon-earphone"></span> Контакты</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-info-sign"></span> О сайте</a>
                        </li>



                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>-->
                    </ul>
                    <!--<form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>-->
                    <!--<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>                         
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="#">Action</a>
                                </li>                                 
                                <li>
                                    <a href="#">Another action</a>
                                </li>                                 
                                <li>
                                    <a href="#">Something else here</a>
                                </li>                                 
                                <li class="divider"></li>                                 
                                <li>
                                    <a href="#">Separated link</a>
                                </li>                                 
                            </ul>                             
                        </li>                         
                    </ul>-->

                </div>
            </div>             
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <!--<h3>Лепрекон</h3>-->
                    <p>Используйте генераторы и рандомайзеры для получения случайных значений, конвертеры для преобразования данных, калькуляторы для сложных вычислений совершенно бесплатно. Профессиональный инструмент доступен для Вас онлайн.</p>
                    <!--ГЕНЕРАТОР СЛУЧАЙНЫХ ЖИВОТНЫХ.
                    РАЗЛИЧИЯ КАРТИНОК
                    генератор ответов
генератор советов
генератор таблиц
транслитерация онлайн
количество символов онлайн-->
<p id="curdata" style="color: #CCC5BB; padding: 0px;margin: 0px;"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 hidden-sm hidden-xs">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- randomaizer-left -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6204413406721291"
     data-ad-slot="8761454445"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                        <h1 class="title-page-h1">[H1]</h1>
                        </div>
                        <div class="col-md-12">
                            [CONTENT]
                        </div>
                        <div class="col-md-12">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- randomaizer-bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6204413406721291"
     data-ad-slot="4465194207"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                        </div>
                    </div>                     
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- randomaizer-right -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6204413406721291"
     data-ad-slot="1238187643"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="footer">
                    <p>[COPYRIGHT]</p>
                    <!--LiveInternet counter--><script type="text/javascript">
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t25.1;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,150))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число посетителей за"+
" сегодня' "+
"border='0' width='88' height='15'><\/a>")
</script><!--/LiveInternet-->

                </div>
            </div>
        </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/template/assets/js/jquery.min.js?n=[RAND]"></script>
        <script src="/template/bootstrap/js/bootstrap.min.js?n=[RAND]"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/template/assets/js/ie10-viewport-bug-workaround.js?n=[RAND]"></script>

        <script src="/template/geopattern/geopattern.min.js?n=[RAND]"></script>
        <script src="/template/js/randscripticonhome.js?n=[RAND]"></script>
        <script src="/template/js/randscriptbgpage.js?n=[RAND]"></script>
        <!--https://material.io/guidelines/style/color.html#color-color-palette
        <div class="module">
<div class="color-tag light" style="background-color: #607D8B;">
<span class="group">Blue Grey</span>
<div class="details">
<span class="shade">500</span>
<span class="hex">#607D8B</span>
</div>
</div>
<div class="color-tag dark" style="background-color: #ECEFF1;">
<div class="details">
<span class="shade">50</span>
<span class="hex">#ECEFF1</span>
</div>
</div>
<div class="color-tag dark" style="background-color: #CFD8DC;">
<div class="details">
<span class="shade">100</span>
<span class="hex">#CFD8DC</span>
</div>
</div>
<div class="color-tag dark" style="background-color: #B0BEC5;">
<div class="details">
<span class="shade">200</span>
<span class="hex">#B0BEC5</span>
</div>
</div>
<div class="color-tag dark" style="background-color: #90A4AE;">
<div class="details">
<span class="shade">300</span>
<span class="hex">#90A4AE</span>
</div>
</div>
<div class="color-tag light" style="background-color: #78909C;">
<div class="details">
<span class="shade">400</span>
<span class="hex">#78909C</span>
</div>
</div>
<div class="color-tag light" style="background-color: #607D8B;">
<div class="details">
<span class="shade">500</span>
<span class="hex">#607D8B</span>
</div>
</div>
<div class="color-tag light" style="background-color: #546E7A;">
<div class="details">
<span class="shade">600</span>
<span class="hex">#546E7A</span>
</div>
</div>
<div class="color-tag light" style="background-color: #455A64;">
<div class="details">
<span class="shade">700</span>
<span class="hex">#455A64</span>
</div>
</div>
<div class="color-tag light" style="background-color: #37474F;">
<div class="details">
<span class="shade">800</span>
<span class="hex">#37474F</span>
</div>
</div>
<div class="color-tag light" style="background-color: #263238;">
<div class="details">
<span class="shade">900</span>
<span class="hex">#263238</span>
</div>
</div></div> -->
    </body>
</html>
